[submodule "lib/imgui"]
	path = lib/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "demos/deariamgui/external/imgui"]
	path = demos/deariamgui/external/imgui
	url = https://github.com/ocornut/imgui.git
